.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-wrap {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-wrap .pagination-button {
  border: none;
  outline: none;
  border-radius: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-wrap .pagination-info {
  margin: 0 1rem;
}