.mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38bdf8;
}

.mode:hover{
  background-color: #0ea5e9;
}