.card {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 600px;
  position: relative;
}

.card header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.868), rgb(0, 0, 0));
  padding: 12px 1rem;
}

.card header h4 {
  color: #fff;
  margin-bottom: 0;
}
